  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-family: 'M PLUS Rounded 1c', sans-serif;
      min-height: 100vh;
      width: 100vw;
      text-align: center;
      background-color: rgb(254, 3, 102);
      /* background: rgb(101, 204, 224);
      background: linear-gradient(90deg, rgba(101, 204, 224, 1) 3%, rgba(94, 139, 240, 1) 72%); */
      /* background: linear-gradient(90deg, #4743d0, #880868); */
      color: #fff;
      overflow-x: hidden;
  }

  header {
      display: flex;
      justify-content: space-between;
      /* background: rgb(8, 33, 56);
      background: radial-gradient(circle, rgba(8, 33, 56, 1) 0%, rgba(176, 209, 233, 1) 100%); */
  }

  h1 {
      font-size: 3.5rem;
      margin: 20px;
  }

  form {
      display: flex;
      width: 29%;
      justify-content: center;
      align-items: center;
      margin: 3rem 0;
  }

  input,
  button {
      padding: 10px 20px;
      background-color: #fff;
      border: none;
      cursor: pointer;
  }

  input {
      border-end-start-radius: 8px;
      border-start-start-radius: 8px;
  }

  button {
      border-start-end-radius: 8px;
      border-end-end-radius: 8px;
  }

  input:focus {
      outline: none;
  }

  button {
      cursor: pointer;
  }

  .btn-search img {
      width: 12px;
  }

  .main-body {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 2.75rem;

  }

  .poke-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0.75rem;
      /* display: none; */
  }

  .poke-box {
      width: 300px;
      background-color: #fff;
      border-radius: 15px;
      color: black;
      padding: 10px;
      margin: 1rem;
  }

  .poke-box img {
      width: 80%;
      margin: 10px 0;
  }

  .poke-box img:hover {
      transform: scale(1.5, 1.5);
      transition: 0.5s ease;
  }

  .poke-box h4 {
      font-size: 1.4rem;
      margin: 5px auto;
  }

  .poke-box p {
      margin: 5px auto;
  }


  .big-view-poke-container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 2;

  }

  .center {
      display: flex;
      justify-content: center;
  }

  .poke-big-view-box {
      position: absolute;
      background-color: #fff;
      border-radius: 15px;
      color: black;
      padding: 10px;
      margin: 1rem;
      min-height: 83%;
      margin-top: 73px;
  }

  .poke-big-view-box img {
      width: 80%;
      margin: 10px 0;
      margin-top: -12px;
  }

  /* .poke-big-view-box img:hover {
      transform: scale(1.1, 1.1);
      transition: 0.2s;
  } */

  .poke-big-view-box h4 {
      font-size: 34px;

  }

  .poke-big-view-box p {
      margin: 5px auto;
  }

  .poke-big-view-box-info {
      height: 20%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      cursor: pointer;
      margin-top: 15px;
  }

  .poke-big-view-box-info {
      font-size: 14px;
  }

  .poke-big-view-box-info h2:hover {
      text-decoration: underline;
  }

  .poke-big-view-box-info-content {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 30px;
      margin-bottom: 30px;
  }

  .box-info-about {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      gap: 5px;
  }

  .box-info-about-details {
      display: flex;
      justify-content: space-between;
      width: 48%;
  }

  .box-info-about-details h4 {
      font-size: 15px;
  }

  .box-info-stats-details {
      height: 150px;
      margin-top: -30px;
      display: flex;
      justify-content: center;
  }


  .ablilities {
      display: flex;
      flex-direction: column;
  }

  .abilities h4 {
      font-size: 15px;
      gap: 20px;
  }

  .close-btn {
      display: flex;
      position: relative;
      left: 0px;
      top: 3px;
      cursor: pointer;
  }

  .close-btn img {
      width: 40px;
  }

  .close-btn img:hover {
      transform: scale(1.1, 1.1);
      transition: 0.5s;
  }

  .nav-btns {
      display: flex;
      justify-content: space-between;
      margin-top: -72px;
  }

  .nav-btns {
      cursor: pointer;
  }

  .nav-btns img {
      width: 50px;
  }

  .hidden {
      display: none;
  }

  @media (max-width: 1050px) {
      header {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
      }

      h1 {
          font-size: 54px;
          margin: 15px;
      }

      form {
          margin: 0;
          margin-bottom: 20px;
      }
  }

  @media (max-width: 540px) {
      .poke-big-view-box {
          position: absolute;
          background-color: #fff;
          color: black;
          padding: 10px;
          min-height: 100%;
          margin-top: 0;
          margin: 0;
          border-radius: 0;
      }

      .poke-big-view-box img {
          margin-top: -24px;
      }

      .close-btn {
          top: 12px;
      }

      .poke-big-view-box-info {
          margin-top: 41px;
      }

      .poke-big-view-box-info h2 {
          font-size: 29px;
      }

      .box-info-about-details h4 {
          font-size: 19px;
      }

      .abilities h4 {
          font-size: 19px;
      }

      .poke-name {
          font-size: 49px !important;
      }

      .nav-btns {
          margin-top: -49px;
      }

      .poke-box {
          margin-top: 0px;
      }
  }